@model BoxingStore.Models.CartProductsQueryModel

<div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
    <div class="d-flex flex-row">
        <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@Model.ProductConvertedName">
            <img src="@Model.ProductImageUrl" width="50" height="50">
        </a>
        <div class="ml-2">
            <a asp-area="" asp-controller="Products" asp-action="Details" asp-route-id="@Model.ProductConvertedName">
                @Model.ProductName
            </a>
        </div>
    </div>
    <div class="d-flex flex-row align-items-center">
        <select asp-for="Size" class="form-control d-flex flex-row align-items-center">
            <option>S</option>
            <option>M</option>
            <option>L</option>
        </select>
        <span asp-validation-for="Size" class="text-danger"></span>
        <div class="d-block ml-5 font-weight-bold">
            <input asp-for="Quantity" class="form-control" />
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
