@model CartViewModel

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col" width="760">Product</th>
            <th scope="col" width="220">Size</th>
            <th scope="col">Quantity</th>
            <th></th>
        </tr>
    </thead>
</table>

@foreach (var product in Model.CartProducts)
{
    <partial name="_CartProductsPartial" model="@product" />
}